@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
}
body{
	background:grey;	
}

a{
	text-decoration:none;
}

.anh img{
	width:500px;
	height:500px;
	border:5px dotted red;
	border-radius:20%;
	float:left;
}

.info{
	background:white;
	border:5px dashed red;
	float:right;
	margin:40px 100px 0 100px;
	text-align:center;
	width:400px;
	border-radius:15%;
}

h2{
	margin:10px auto 10px;
	color:red;
}
p{
	margin:10px auto 10px;
	font-style:oblique;
	font-weight:bold;
}
.anh img:hover{
	opacity:0.5;
}
.info a:hover{
	color:blue;	
}